*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(240, 239, 235);
    text-align: center;
}
header p,h2{
    line-height: 1.6;
}
header h2{
    font-size: 5vh;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
    margin: 3% 5% 0 5%;
    /* background: rgba(0, 0, 0, 0.7); */
}
.introduction{
    width: 50%;
}
.introduction p{
    font-size: 4vh;
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
}
.introduction small{
    font-size: 3vh;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(17, 31, 60);
}
.image img{
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid maroon;
}
