*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*  adding styling ro the header -section */
header{
    background-color: rgb(240, 239, 235);
    text-align: center;
}
header p,h2{
    line-height: 1.6;
}
header h2{
    font-size: 5vh;
}


/* Adding styles to Introduction section.  */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;  
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(74, 102, 122));
   
}
.introduction{
    width: 50%;
    margin-top: 2%;
}
.introduction p{
    font-size: 4vh;
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    
}
.introduction small{
    font-size: 3vh;
    font-weight: bold;
    line-height: 1.6;
    /* color: rgb(17, 31, 60); */
    color: white;
}
.image img{
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid maroon;
    margin-top: 2%;
    
}
.image:hover{
}

/* Contact me button styles */
.btn-one{
    padding: 15px;
    border-radius: 7px;
    border: none;
    background: rgb(74, 102, 122);
    color: white;
    font-weight: bold;
    font-size: 3.5vh;
    position: absolute;
    top: 44%;
    left: 20%;
    width: 14%;
}
.btn-one:hover{
    width: 20%;
    box-shadow: 4px 5px 5px rgb(17, 31, 60);
    border: 1px solid white;
}

/* What -i do section styling */
.things{
    /* background-color: rgb(240, 239, 235); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(74, 102, 122));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.things h3{
    font-size: 5vh;
    text-align: center;
    color: rgb(11, 25, 47);
}
.what{
    width: 50%;
    margin: 3% 0 5% 0;
}
.what .par{
    line-height: 1.6;
    font-style: italic;
    font-size: 2.5vh;
}
.expertise{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3% 0 5% 0;
}
.img2, .img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.expertise img{
    height: 20vh;
    width: 15vw;
    object-fit: contain;
}


/* Project section styling */
.projects{
    /* color: rgb(17, 31, 60); */
    background-color: rgb(240, 239, 235);
   
}
.header h3{
    font-size: 5vh;
    line-height: 1.6;
    color: rgb(11, 25, 47) ;
    text-align: center;
    text-shadow: 2px 4px 5px black;
    margin-bottom: 2%;
}
.sample{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sample .project1{
    width: 30%;
    /* border: 3px solid black; */
    margin-bottom: 3%;
    padding: 10px;
    align-content: center;
    background-image: linear-gradient(to bottom, rgba(240, 239, 235, 0.6), rgba(17, 31, 60, 0.5));
    border-radius: 6px;
    box-shadow: 2px 6px 20px rgb(133, 213, 237);
}
.project1 h3{
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(11, 25, 47);
    margin-bottom: 3%;
    text-transform: uppercase;

}
.project1 p{
    font-size: 2.5vh;
    line-height: 1.6;
    color: rgb(17, 31, 60);
    text-align: center;
    margin-bottom: 3%;
    font-weight: 550;
}
.project1 h4, ul{
    list-style: none;
    margin-left: 5%;
    color: rgb(17, 31, 60);
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}
.project1 ul li{
    font-size: 2.5vh;
    font-weight: bold;
    font-style: italic;
}
.project1 a button{
    padding: 15px;
    border-radius: 7px;
    border: none;
    background: rgb(17, 31, 60);
    color: white;
    font-size: 2.5vh; 
    margin: 2% 0 2% 20%;
}
 a button:hover{
     background-color: white;
     color: rgb(17, 31, 60);
     font-weight: bold;
 }


 /* About me section styling */
.about h3{
    font-size: 5vh;
    text-align: center;
    text-shadow: 2px 4px 5px black;
    margin-bottom: 2%;
}
.education{
    text-align: center;
}
.education h4{
    font-size: 4vh;
    line-height: 1.8;
    font-weight: bold;
    
}
.education p{
    font-size: 3vh;
    line-height: 1.8;
    font-weight: bold;
}
.job h4{
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
}
.job ol{
    margin: 2% 20% 2% 12%;
    line-height: 1.8;
    
}
.job ol li{
    list-style-type: circle;
    font-weight: 600;
    
}
.me p{
    font-size: 2.5vh;
    margin: 0 10% 2% 10%;
    line-height: 1.6;
    font-style: italic;
    color: rgb(17, 31, 60);
    font-weight: 600;
}
.hobbies h4{
    margin-left: 10%;
}
.hobbies ul{
    display: block;
    
}
.hobbies ul li{
    list-style-type: disc;
    line-height: 1.8;
    font-weight: 600;
    margin-left: 7%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skills .one{
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.one img{
    /* border: 2px solid rgb(11, 25, 47);   */
    object-fit: contain;
    height: 20vh;
    margin: 3% 0 3% 0;
}
.me h4{
 font-size: 4vh;
 margin-left: 10%;
 margin-bottom: 1%;
}